@import "tailwindcss";

.title-bar {
  -webkit-app-region: drag;
}

.activeNotificationsList::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
.transmitInputArea{
    border: 2px;
    border-radius: 6px;
}
.transmitInputArea::-webkit-scrollbar{
    display: none;
}
.notificationForwardProtectMark{
    background-color: rgba(var(--mdui-color-surface-container-high), 1.0);
}
mdui-select::part(text-field){
    user-select: none;
}
::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}
.mduiAvatarBorder{
    --shape-corner:5px
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(99, 98, 98);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(99, 98, 98);
}
.fixMduiSelect::part(text-field__input){
    user-select: none;
    pointer-events: none;
}
