@import "tailwindcss";

.title-bar {
  -webkit-app-region: drag;
}
.noScrollBar::-webkit-scrollbar {
    display: none;
}
.noScrollBar::-webkit-scrollbar-thumb{
    display: none;
}
.activeNotificationsList::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
.transmitInputArea{
    border: 2px;
    border-radius: 6px;
}
.transmitInputArea::-webkit-scrollbar{
    display: none;
}
.notificationForwardProtectMark{
    background-color: rgba(var(--mdui-color-surface-container-high), 1.0);
}
mdui-select::part(text-field){
    user-select: none;
}
::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}
.mduiAvatarBorder{
    --shape-corner:5px
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(99, 98, 98);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(99, 98, 98);
}
/* 原版组件用 */
.fixMduiSelect::part(text-field__input){
    user-select: none;
    pointer-events: none;
}
/* 测试新组件用 */
.fixedMduiSelect::part(input){
    user-select: none;
    pointer-events: none;
}
.fileManagerDirectoryList::-webkit-scrollbar{
    width: 3px;
    height: 6px;
}
/* 避免遮挡视频控件 */
.navigationRailIndex{
    --z-index: 0
}
.modalVideoIndex{
    z-index:100
}
.easterEggText{
  opacity: 0;
  transition: opacity .55s ease-in-out;
}
.easterEggText:hover{
  opacity: 1;
}