/* 标题栏 */
.titleBar {
    min-width: 98%;
    /* min-height: 8%; */
    background-color: #fdf7fe;
    color: darkgray;
    margin-top: -1%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    margin-left: -1%;
    padding-left: 2.6%;
    -webkit-app-region: drag;
    z-index: 2301;
    position: fixed;
}
.titleBarNotFocus{
    color: gray;
}
/* tab栏 */
.tabBar{
    height: 100%;
    margin-top: 5%;
    width: 99.9%;
    position: fixed;
}
#addTextFilter{
    position:absolute;
    /* 保证阴影效果完整 */
    margin-bottom: 6%;
    right: 3.6%;
    bottom: 2.3%;
    margin-right: 9%;
    z-index: 1;
}
#textFilterModeChange{
    position:absolute;
    /* 保证阴影效果完整 */
    margin-bottom: 6%;
    right: 3.6%;
    bottom: 15.3%;
    margin-right: 9%;
    z-index: 1;
}
#appProfilePanelTipText {
    position: fixed;
    top: 50%;
    left: 55%;
}
.mduiAvatarBorder{
    --shape-corner:5px
}
.appProfileListItem{
    word-wrap: break-word;
}
.appProfilePanelAvatar{
    margin-left: 2%;
    margin-top: 1%;
}
#appProfileControlPanel{
    position: fixed;
    top: 11.4%;
    left: 31%;
    width: 69%;
    /* background-color: aqua; */

}
#appProfileDetailPanel{
    margin-top: 6%;
    /* display: flex;
    flex-direction: column; */
}
#textFilterList{
    width: 99%;
    margin-top: -1%;
    padding-bottom: 6.3%;
}
.tabPanel{
    width: 99%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(99, 98, 98);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(99, 98, 98);
}
#appProfileAppList{
    width: 30%;
    /* 好像能优化? */
    transform: translate3d(0, 0, 0);
    margin-top: -1%;
    padding-bottom: 6.3%;
}
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}