.card{
    width: 280px;
    min-height: 65px;
    margin-top: 0.6%;
    margin-bottom: 0.6%;
    padding-bottom: 0.6%;
    display: flex;
    align-items: center;
}
.firstCard{
    margin-top: -3%;
}
.stateIcon{
    /* margin-top: 7%; */
    margin-left: 5%;
}
/* 文本容器 */
.stateTexts{
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}