/* 标题栏 */
.titleBar {
    min-width: 98%;
    /* min-height: 8%; */
    background-color: #fdf7fe;
    color: darkgray;
    margin-top: -1%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 2.6%;
    -webkit-app-region: drag;
    z-index: 2301;
    position: fixed;
}
.titleBarNotFocus{
    color: gray;
}
#audioPlayerCurrentTime{
    /* margin-top: 20%; */
    margin-left: -4%;
}
.main{
    top: 10%;
    width: 100%;
    height: 90%;
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#audioPicture{
    width: 300px;
    height: 300px;
    margin-left: -3%;
}
.audioTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93%;
    margin-left: -3%;
    margin-top: 16%;
}
#lyricsList{
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    margin-left: -3%;
}
::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}