/* 进度条样式 */
/* 居中样式 */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#apkDownloadDiv{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 90%;
    background-color: #fdf7fe;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -1%;
}
.titleBar {
    min-width: 90%;
    min-height: 8%;
    background-color: #fdf7fe;
    color: darkgray;
    margin-top: -2.2%;
    padding-top: 2.6%;
    padding-bottom: 3.1%;
    margin-left: -1%;
    padding-left: 2.6%;
    -webkit-app-region: drag;
    z-index: 2301;
    position: sticky;
}
#qrcodeConnectingProgressBar{
    position: fixed;
    top: 40%;
    left: 44.5%;
}
#qrCodeShow {
    margin-top: 10%;
}
#qrcodeConnectingText{
    position: fixed;
    left: 42.5%;
    top: 50%;
}
/* 避免光标挡住二维码 */
#qrCodeShow:hover {
    cursor: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 35%;
}

#qrcodeMask {
    opacity: 0.7;
    width: 180px;
    height: 100px;
    background-color: white;
    z-index: 1;
    position: absolute;
    text-align: center;
    padding-top: 80px;
}
#autoConnectTip{
    position: fixed;
    bottom: 27%;
}

/* 阻止双击选择 */
* {
    user-select: none;
}