/* 每个通知的框架 */
/* 利用变量穿透shadow隔离 */
.notificationItemFrame {
    display: var(--empty-var, flex);
    margin-top: var(--empty-var,0.6%);
    margin-bottom: var(--empty-var,0.6%);
    padding-bottom: var(--empty-var,0.6%);
    min-width: var(--empty-var,99.2%);
    max-width: var(--empty-var,66.2%);
    margin-left: var(--empty-var,0.5%);
}
.notificationApplicationIcon{
    width: var(--app-icon-size,20px);
    height: var(--app-icon-size, 20px);
    margin-top: 1px;
    margin-left: 1%;
}
/* 文本偏移 */
.notificationDetailTextMarginLeft {
    margin-left: var(--empty-var,1%);
}
/* 通知消息 */
.notificationContent {
    text-overflow: var(--empty-var,ellipsis);
    white-space: var(--empty-var,nowrap);
    overflow: var(--empty-var,hidden);
}
/* 通知文本区域 */
.notificationDetailTextDiv {
    position: var(--empty-var,relative);
    display: var(--empty-var,flex);
    width: var(--empty-var,0px);
    flex:var(--empty-var,0 0 79%);
    min-width: var(--empty-var,91.4%);
    flex-direction: var(--empty-var,column);
    max-width: var(--empty-var,67.3%);
    overflow: var(--empty-var,hidden);
}
/* 内容展开 */
.notificationContentSpread{
    white-space: var(--empty-var,normal);
    word-wrap:break-word;
}
/* 展开按钮 */
.spreadElement{
    color: var(--empty-var,gray);
    text-decoration: var(--empty-var,none);
}
.spreadButton{
    position: var(--empty-var,absolute);
    right: var(--empty-var,0%);
}
.spreadButtonRotate{
    transform: var(--empty-var,rotate(180deg));
}