#fileManagerLoadingMark{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.75;
    background-color: gray;
    text-align: center;
    padding-top: 35%;
    /* 应对mdui */
    z-index: 1;
    /* 覆盖全屏 */
    margin-left: -1%;
    margin-top: -1%;
}
#fileManagerMenuFab{
    position: fixed;
    bottom: 3%;
    right: 2%;
    display: none;
}
#fileManagerFileFilterCard {
    position: fixed;
    width: 45%;
    height: 12%;
    color: aliceblue;
    margin-top: 5%;
    margin-left: 8%;
    z-index: 1;
    display: none;
}
#fileManagerFileFilterInput{
    margin-top: 2%;
    margin-left: 2%;
}