/* 下半通知列表 */
#forwardedNotificationsList {
    /* margin-top: 32.2%; */
    margin-top: 1.0%;
    width: max-content;
    margin-left: 0.0%;
    min-width: 88.8%;
    border-top-left-radius: 1.2%;
    border-top-right-radius: 1.2%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-width: 3px;
    box-shadow: inset 0px 0px 2px 0px #989494;
    position: absolute;
}
#forwardedNotificationsList:empty::after{
    content: "暂无转发的通知";
    color: gray;
    position: absolute;
    left: 40%;
    top: 45%;
}
#notificationProtectMask{
    padding-top: 30%;
    text-align: center;
    /* background-color: white; */
    background-color: rgba(var(--mdui-color-surface-container-high), 1.0);
    color: gray;
    width: max-content;
    min-width: 90.5%;
    border-top-left-radius: 1.2%;
    border-top-right-radius: 1.2%;
    border-width: 3px;
    position: fixed;
    height: 50%;
    z-index: 1;
    margin-left: -1%;
}
.forwardedNotificationsListLong{
    min-height: 84.4%;
    max-height: 84.4%;
}
.forwardedNotificationsListShort{
    min-height: 74.8%;
    max-height: 74.8%;
}
#notificationForwardSearchCard {
    position: fixed;
    width: 45%;
    height: 12%;
    color: aliceblue;
    margin-top: 5%;
    margin-left: 22%;
    z-index: 1;
    display: none;
}
#notificationForwardFilterInput{
    margin-top: 2%;
    margin-left: 2%;
}
/* 测试 */
.suisho-notification-detail{
    --app-icon-size:20px;
}