.messageTransmit_text_baseStyles{
    width: 88%;
    height: auto;
    border-radius: 6px;
    white-space: normal;
    word-wrap: break-word;
    padding-left: 15px;
    margin-left: 0.5%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 8px;
    box-shadow: inset 0px 0px 2px 0px #989494;
}
/* 我知道很丑 尽力了尽力了 */
.messageTransmit_text_formComputer{
    background-color: rgb(243, 235, 243);
    margin-left: auto;
    margin-right: 3px;
}
.messageTransmit_text_formPhone{
    background-color: rgb(237, 231, 237);
    margin-left: 2px;
}
.messageTransmit_file_icon{
    width: 32%;
    height: 85%;
    margin: 7px 5px 5px -5px;
    float: left;

}
.transmit_file_name{
    margin-top: 7px;
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: list-item;
    overflow: hidden;
}
.messageTransmit_file_baseStyle{
    width: 40%;
    height: 19%;
    min-width: 40%;
    min-height: 19%;
    border-radius: 9px;
    margin-top: 5px;
    white-space: pre-warp;
    text-overflow: ellipsis;
    /* margin-left: 0.5%; */
    /* box-shadow: inset 0px 0px 2px 0px #989494; */
}
.transmit_file_size{
    margin-top: 64px;
    /* margin-left: 15px; */
}
.transmit_file_upload_progressBar{
    /* margin-left: 80px; */
    /* margin-top: 13px; */
    width: 64%;
}
.color_RED{
    color: rgb(218, 54, 54);
}
.color_GREEN{
    color: rgba(171, 242, 64, 0.702)
}
/* 隐藏动画用元素 */
.hideProgressClass{
    animation-fill-mode: forwards;
    animation: hideProgress 500ms;
    opacity: 0;
    display: none;

}
/* 隐藏进度条 动画*/
@keyframes hideProgress {
    0%{
        display: block;
    }
    50%{
        opacity: 0.5;
    }
    95%{
        opacity: 0.05;
        transform: translateY(100%);

    }
    100%{
        display: none;
    }
}
.drag_hover_mask{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.75;
    background-color: gray;
    text-align: center;
    padding-top: 35%;
    /* 应对mdui */
    z-index: 1;
    /* 覆盖全屏 */
    margin-left: -1%;
    margin-top: -1%;
}
#transmitMessageFilterCard {
    position: fixed;
    width: 45%;
    height: 12%;
    color: aliceblue;
    margin-top: 5%;
    margin-left: 22%;
    z-index: 1;
    display: none;
}
#transmitMessageFilterInput{
    margin-top: 2%;
    margin-left: 2%;
}